header {
    .headerlist {
        display: flex;
        justify-content: space-between;
        width: 70.845%;
        margin-left: 27.65%;
        margin-right: 1.505%;

        li {
            font-size: 22px;
            padding-top: 27px;
        }
    }
}