@charset "UTF-8";
header .headerlist {
  display: flex;
  justify-content: space-between;
  width: 70.845%;
  margin-left: 27.65%;
  margin-right: 1.505%;
}
header .headerlist li {
  font-size: 22px;
  padding-top: 27px;
}
@media screen and (max-width: 767px) {
  header .headerlist {
    display: none;
  }
}

.menu-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  height: 60px;
  width: 60px;
  background-color: #3584bb;
  z-index: 90;
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-btn {
    display: block;
  }
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

/* メニュー */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 80;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-content {
    display: block;
  }
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content li {
  text-align: center;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

#menu-btn-check:checked ~ .menu-content {
  right: 0;
  /*メニューを画面内へ*/
}

.maxwidth {
  max-width: 1170px;
  margin: auto;
}

main {
  width: 100%;
  margin: auto;
  font-size: 40px;
}

.display {
  display: flex;
}

h2 {
  font-size: 43px;
  text-align: center;
}

.animation {
  opacity: 0;
  visibility: hidden;
  transition: 1.5s;
  transform: translateY(200px);
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

body .kv {
  position: relative;
}
@media screen and (max-width: 767px) {
  body .kv {
    display: flex;
    align-items: center;
  }
}
body .kv .kvbgimg {
  position: absolute;
}
@media screen and (max-width: 767px) {
  body .kv .kvbgimg {
    display: none;
  }
}
body .kv .kvbgimg .kvbgimg,
body .kv .kvbgimg .kv-wrapper {
  margin-top: 120px;
}
@media screen and (max-width: 767px) {
  body .kv .kvbgimg .kvbgimg,
body .kv .kvbgimg .kv-wrapper {
    margin-top: none;
  }
}
body .kv .kv-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.75%;
  aspect-ratio: 13/7;
}
@media screen and (max-width: 767px) {
  body .kv .kv-wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    padding: 0;
  }
}
body .kv .kv-wrapper .kvimg {
  width: 100%;
  display: block;
}
body .kv .kv-wrapper .kv-person_img3,
body .kv .kv-wrapper .kv-person_img1 {
  padding-bottom: 14px;
}
body .kv .kv-wrapper .kvimg-content1,
body .kv .kv-wrapper .kvimg-content2 {
  width: 23%;
}
@media screen and (max-width: 767px) {
  body .kv .kv-wrapper .kvimg-content1,
body .kv .kv-wrapper .kvimg-content2 {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  body .kv .kv-wrapper .kv-person_img3,
body .kv .kv-wrapper .kv-person_img2,
body .kv .kv-wrapper .kv-person_img1,
body .kv .kv-wrapper .kv-person_img4 {
    display: none;
  }
}
body .kv .kv-wrapper .kv-person_spimg3,
body .kv .kv-wrapper .kv-person_spimg2,
body .kv .kv-wrapper .kv-person_spimg1,
body .kv .kv-wrapper .kv-person_spimg4 {
  display: none;
}
@media screen and (max-width: 767px) {
  body .kv .kv-wrapper .kv-person_spimg3,
body .kv .kv-wrapper .kv-person_spimg2,
body .kv .kv-wrapper .kv-person_spimg1,
body .kv .kv-wrapper .kv-person_spimg4 {
    display: block;
  }
}
body .kv .kv-wrapper .kv-person_spimg3,
body .kv .kv-wrapper .kv-person_spimg4 {
  width: 59.18181818%;
}
body .kv .kv-wrapper .kv-person_spimg2,
body .kv .kv-wrapper .kv-person_spimg1 {
  width: 39.72727273%;
}
body .kv .kv-wrapper .kv-text {
  z-index: 1;
}
@media screen and (max-width: 767px) {
  body .kv .kv-wrapper .kv-text {
    margin: 20px 0;
  }
}
body .kv .kv-wrapper .kv-txt1 {
  font-size: 29px;
}
@media screen and (max-width: 767px) {
  body .kv .kv-wrapper .kv-txt1 {
    font-size: 4vw;
  }
}
body .kv .kv-wrapper .kv-txt2 {
  font-size: 63px;
}
@media screen and (max-width: 767px) {
  body .kv .kv-wrapper .kv-txt2 {
    font-size: 8.6vw;
  }
}
body .kv .kv-wrapper .kv-txt3 {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  body .kv .kv-wrapper .kv-txt3 {
    font-size: 3.7vw;
  }
}
body main .PetLivers {
  width: auto;
}
body main .PetLivers .petlivers-title {
  margin-top: 104px;
  margin-bottom: 61px;
  font-size: 43px;
}
@media screen and (max-width: 767px) {
  body main .PetLivers .petlivers-title {
    font-size: 30px;
  }
}
body main .PetLivers .PetLivers-content {
  background-color: #000000;
  padding: 98.01px 0 94.2px;
}
@media screen and (max-width: 767px) {
  body main .PetLivers .PetLivers-content {
    padding: 71.36px 0;
  }
}
body main .PetLivers .PetLivers-content .petliverswrap1,
body main .PetLivers .PetLivers-content .petliverswrap2 {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  body main .PetLivers .PetLivers-content .petliverswrap1,
body main .PetLivers .PetLivers-content .petliverswrap2 {
    display: block;
    padding: 0 15%;
    width: auto;
  }
}
body main .PetLivers .PetLivers-content .PetLivers-box {
  width: 24.184256%;
  background: #FFFFFF;
  margin-right: 1.265823%;
  margin-bottom: 21.93px;
}
@media screen and (max-width: 767px) {
  body main .PetLivers .PetLivers-content .PetLivers-box {
    width: 100%;
    margin-bottom: 55px;
  }
}
body main .PetLivers .PetLivers-content .PetLivers-box img {
  width: 96.85863874%;
  margin: 25px 1.570681% 0;
}
body main .PetLivers .PetLivers-content .PetLivers-box p {
  margin-left: 7.73560209%;
}
body main .PetLivers .PetLivers-content .box1 {
  border: 3.79px solid #EA5555;
}
body main .PetLivers .PetLivers-content .box2 {
  border: 3.79px solid #A817FB;
}
body main .PetLivers .PetLivers-content .box3 {
  border: 3.79px solid #F0C83B;
}
body main .PetLivers .PetLivers-content .box4 {
  border: 3.79px solid #E16A6E;
}
body main .PetLivers .PetLivers-content .box5 {
  border: 3.79px solid #ED61F6;
}
body main .PetLivers .PetLivers-content .box6 {
  border: 3.79px solid #52F1BF;
}
body main .PetLivers .PetLivers-content .box7 {
  border: 3.79px solid #55B0EA;
}
body main .PetLivers .PetLivers-content .box8 {
  border: 3.79px solid #FFB017;
}
body main .PetLivers .PetLivers-content .txtLivers {
  font-size: 16px;
}
body main .PetLivers .PetLivers-content .txtName {
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  body main .PetLivers .PetLivers-content .txtName {
    font-size: 24px;
  }
}
body main .PetLivers .PetLivers-content .txtComent {
  font-size: 16px;
  margin-bottom: 27.56px;
}
body main .About .about-content {
  position: relative;
}
body main .About .display {
  align-items: center;
  justify-content: space-between;
}
body main .About .aboutimg {
  width: 35.536603%;
}
@media screen and (max-width: 767px) {
  body main .About .aboutimg {
    width: auto;
    padding: 2% 15%;
  }
}
body main .About .about-title {
  margin-top: 93px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  body main .About .display {
    display: block;
  }
}
body main .About .display .displayorder {
  display: flex;
}
body main .About .display .About-img1 {
  width: 100%;
  margin-top: 33px;
  box-shadow: 25px 25px #F9C83B;
}
@media screen and (max-width: 767px) {
  body main .About .display .About-img1 {
    order: 2;
    box-shadow: none;
    border: solid #F9C83B;
    border-width: 0 20px 20px 0;
  }
}
body main .About .display .About-img2 {
  width: 100%;
  margin-top: 28px;
  box-shadow: -25px 25px #FFF835;
}
@media screen and (max-width: 767px) {
  body main .About .display .About-img2 {
    box-shadow: none;
    border: solid #FFF835;
    border-width: 0 20px 20px 0;
  }
}
body main .About .display .textblock {
  display: block;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  body main .About .display .textblock {
    padding: 5% 12%;
  }
}
@media screen and (max-width: 767px) {
  body main .About .display .txtblock1,
body main .About .display .txtblock2 {
    background-image: url(../../img/bg_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    width: 81.81818182%;
  }
}
body main .About .display .AboutText {
  margin-bottom: 47px;
  font-size: 34px;
}
@media screen and (max-width: 767px) {
  body main .About .display .AboutText {
    font-size: 20px;
    order: 1;
    margin-bottom: 10px;
  }
}
body main .About .display .AboutText-content {
  font-size: 21px;
}
@media screen and (max-width: 767px) {
  body main .About .display .AboutText-content {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  body main .About .display .textcontent1 {
    order: 3;
  }
}
@media screen and (max-width: 767px) {
  body main .About .display .txtblock2 {
    margin-top: 20px;
  }
}
body main .About .pattern {
  position: absolute;
}
@media screen and (max-width: 767px) {
  body main .About .pattern {
    display: none;
  }
}
body main .About .pattern1 {
  width: 15.1%;
  top: 20px;
  left: 0;
}
body main .About .pattern2 {
  width: 12.0705%;
  right: 0.733%;
  top: 30px;
}
body main .About .pattern3 {
  width: 14.939%;
  left: 0;
  top: 497.22px;
}
body main .About .pattern4 {
  width: 17.45%;
  right: 0;
  top: 362px;
}
body main .About .pattern5 {
  width: 11.369%;
  top: 1101px;
}
body main .About .pattern6 {
  width: 5.8435%;
  right: 6.7065%;
  top: 1085px;
}
body .Sponser {
  text-align: center;
}
body .Sponser .Sponser-title {
  font-weight: 700;
  margin-bottom: 46px;
}
@media screen and (max-width: 767px) {
  body .Sponser .Sponser-title {
    font-size: 30px;
    margin-top: 68.9px;
  }
}
body .Sponser .sponser-img1 {
  width: 89.240506%;
  margin-bottom: 83px;
}
@media screen and (max-width: 767px) {
  body .Sponser .sponser-img1 {
    margin-bottom: 45px;
  }
}
body .Sponser .sponser-img2 {
  width: 36.708861%;
  margin-bottom: 11px;
}
body .Sponser .sponserText {
  font-size: 34px;
  margin-bottom: 164px;
}
@media screen and (max-width: 767px) {
  body .Sponser .sponserText {
    display: none;
  }
}

#service {
  position: relative;
}
#service h2 {
  margin-bottom: 40px;
  font-weight: bold;
}
#service h3 {
  font-size: 18px;
  margin-top: 19px;
  margin-bottom: 19px;
}
#service p {
  font-size: 16px;
}
#service .boxs {
  justify-content: center;
}
#service .boxs .box {
  border: solid 3.42px #9067E9;
  width: 31.634177%;
  margin-right: 2.179114%;
  box-shadow: 12.435px 17.875px #9067E9;
  display: flex;
  flex-direction: column;
}
#service .boxs .box .margin1 {
  margin-top: 24px;
}
#service .boxs .box .margin2 {
  margin-top: 69px;
}
#service .boxs .box .margin3 {
  margin-top: 96px;
}
#service .boxs::after {
  content: "";
}
#service .boxs .imgbox .flex {
  display: flex;
  flex-direction: column;
  padding-left: 8.236965%;
}
#service .boxs .imgbox .flex h3 {
  flex-basis: 0;
  flex-grow: 1;
}
#service .boxs .imgbox .flex p {
  flex-basis: 0;
  flex-grow: 1;
}
#service .boxs img {
  width: 32.769797%;
  padding-top: 5.587478%;
  padding-left: 8.236965%;
}

#voice h2 {
  margin-top: 97px;
  margin-bottom: 71px;
}
#voice .v-container {
  position: relative;
  justify-content: space-between;
}
#voice .v-container .voiceright {
  flex-basis: 0;
  flex-grow: 1;
  text-align: end;
  width: 40.443038%;
  margin-right: 4.367089%;
}
#voice .v-container .voiceright img {
  width: 100%;
  box-shadow: -27.75px 16.5px #e7afc3;
}
#voice .v-container .voiceleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
}
#voice .v-container .text1 {
  font-size: 16px;
  margin-bottom: 25px;
  margin-left: 4.367089%;
}
#voice .v-container .text2 {
  font-size: 21px;
  margin-bottom: 27px;
  margin-left: 4.367089%;
}
#voice .v-container .text3 {
  font-size: 18px;
  margin-left: 4.367089%;
}
#voice .v-container .back {
  z-index: 1;
  position: absolute;
}
#voice .v-container .deko1 {
  width: 10.2%;
  top: -39px;
  left: 1%;
  width: 10.2%;
}
#voice .v-container .deko2 {
  width: 17.366%;
  top: -39px;
  right: 0;
}
#voice .v-container .deko3 {
  width: 20%;
  bottom: 0%;
}
#voice .v-container .deko4 {
  width: 13.2625%;
  right: 1.9875%;
  bottom: 0;
}

#contact h2 {
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: bold;
}
#contact .c-container h2 {
  font-size: 25px;
  text-align: left;
}
#contact .c-container p {
  font-size: 18px;
}
#contact .c-container .for {
  flex-basis: 0;
  flex-grow: 1;
}
#contact .c-container .forclient {
  border-right: solid 1px black;
  width: 40.063291%;
}
#contact .c-container .forclient h2 {
  display: inline-block;
  padding: 0 2.11%;
  margin: 100px 0 40px 0;
  background: linear-gradient(transparent 70%, #FFEA02 70%);
}
#contact .c-container .forclient p {
  font-size: 18px;
  margin-bottom: 44px;
}
#contact .c-container .forclient form {
  width: 100%;
}
#contact .c-container .forclient form .font {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
#contact .c-container .forclient form .font label {
  margin-bottom: 21.97px;
}
#contact .c-container .forclient form .font .area {
  border: solid 1px;
  margin-bottom: 25px;
  margin-right: 5.56962%;
}
#contact .c-container .forclient form .font textarea {
  height: 332px;
}
#contact .c-container .forclient form #btn {
  display: flex;
  justify-content: center;
  margin-right: 5.56962%;
  background-color: black;
}
#contact .c-container .forclient form #btn .btn {
  font-size: 18px;
  text-align: center;
  color: white;
  margin: 23px 0 30px 0;
}
#contact .c-container .forliver h2 {
  text-align: left;
  margin-left: 10.2165%;
  display: inline-block;
  padding: 0 2.11%;
  background: linear-gradient(transparent 70%, #20C55A 70%);
}
#contact .c-container .forliver p {
  margin-left: 10.253165%;
}
#contact .c-container .forliver .whatsapp {
  margin-left: 10.253165%;
  margin-top: 200px;
  align-items: center;
}
#contact .c-container .forliver .whatsapp .img1 {
  width: 14.559494%;
}
#contact .c-container .forliver .whatsapp .img1 img {
  width: 100%;
}
#contact .c-container .forliver .whatsapp .img2 {
  width: 79.240506%;
  margin-left: -3.456835%;
}
#contact .c-container .forliver .whatsapp .img2 img {
  width: 100%;
}

#company h2 {
  font-weight: bold;
  margin-top: 100px;
}
#company .company {
  margin-top: 40px;
}
#company .company .companyleft {
  flex-basis: 0;
  flex-grow: 1;
}
#company .company .companyleft h3 {
  margin-top: 15px;
}
#company .company .companyleft h4 {
  font-size: 21px;
  margin-top: 20px;
}
#company .company .companyleft p {
  margin-top: 20px;
  font-size: 18px;
  margin-right: 5.3%;
}
#company .company .map {
  flex-basis: 0;
  flex-grow: 1;
  width: 99.620253%;
}
#company .company .map iframe {
  width: 100%;
}

footer {
  margin-top: 239px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 24px 0;
}

@media screen and (max-width: 767px) {
  header .headerlist {
    font-size: 16px;
  }
  header .headerlist li {
    font-size: 16px;
    display: none;
  }
}/*# sourceMappingURL=main.css.map */