header .headerlist {
  display: flex;
  justify-content: flex-end;
}
header .headerlist li {
  font-size: 22px;
  padding-right: 3.6235%;
  padding-top: 27px;
}

main {
  width: 100%;
  margin: auto;
  font-size: 40px;
}

.display {
  display: flex;
}

h2 {
  font-size: 43px;
  text-align: center;
}

body .kv {
  position: relative;
}
body .kv .kvbgimg {
  position: absolute;
}
body .kv .kvbgimg .kvbgimg,
body .kv .kvbgimg .kv-wrapper {
  margin-top: 120px;
}
body .kv .kv-person_img3,
body .kv .kv-person_img1 {
  padding-bottom: 14px;
}
body .kv .kv-text {
  z-index: 1;
}
body .kv .kv-text .kv-txt1 {
  font-size: 29px;
}
body .kv .kv-text .kv-txt2 {
  font-size: 63px;
}
body .kv .kv-text .kv-txt3 {
  font-size: 24px;
}
body .kv .kv-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.75%;
  aspect-ratio: 13/7;
}
body .kv .kv-wrapper .kvimg-content1,
body .kv .kv-wrapper .kvimg-content2 {
  width: 23%;
}
body .kv .kv-wrapper .kvimg {
  width: 100%;
  display: block;
}
body main .PetLivers {
  width: auto;
}
body main .PetLivers .petlivers-title {
  margin-top: 104px;
  margin-bottom: 61px;
}
body main .PetLivers .PetLivers-content {
  background-color: #000000;
  max-width: none;
}
body main .PetLivers .PetLivers-content .petliverswrap1 {
  margin-top: 97px;
}
body main .PetLivers .PetLivers-content .petliverswrap1,
body main .PetLivers .PetLivers-content .petliverswrap2 {
  display: flex;
  justify-content: center;
}
body main .PetLivers .PetLivers-content .PetLivers-box {
  width: 19.1%;
  background: #FFFFFF;
  margin-right: 0.877%;
  margin-bottom: 21.93px;
}
body main .PetLivers .PetLivers-content .PetLivers-box img {
  width: 96.85863874%;
  margin: 20px 0.2945% 26.74px 0.2945%;
}
body main .PetLivers .PetLivers-content .PetLivers-box p {
  margin-left: 7.73560209%;
}
body main .PetLivers .PetLivers-content .box1 {
  border: 3.79px solid #EA5555;
}
body main .PetLivers .PetLivers-content .box2 {
  border: 3.79px solid #A817FB;
}
body main .PetLivers .PetLivers-content .box3 {
  border: 3.79px solid #F0C83B;
}
body main .PetLivers .PetLivers-content .box4 {
  border: 3.79px solid #E16A6E;
}
body main .PetLivers .PetLivers-content .box5 {
  border: 3.79px solid #ED61F6;
}
body main .PetLivers .PetLivers-content .box6 {
  border: 3.79px solid #52F1BF;
}
body main .PetLivers .PetLivers-content .box7 {
  border: 3.79px solid #55B0EA;
}
body main .PetLivers .PetLivers-content .box8 {
  border: 3.79px solid #FFB017;
}
body main .PetLivers .PetLivers-content .txtLivers {
  font-size: 16px;
}
body main .PetLivers .PetLivers-content .txtName {
  font-size: 28px;
}
body main .PetLivers .PetLivers-content .txtComent {
  font-size: 16px;
  margin-bottom: 27.56px;
}
body main .About .about-content {
  position: relative;
}
body main .About .display {
  align-items: center;
}
body main .About .aboutimg {
  width: 25%;
}
body main .About .about-title {
  margin-top: 93px;
  font-weight: 700;
}
body main .About .display .About-img1 {
  width: 100%;
  margin-top: 33px;
  margin-left: 5.6%;
}
body main .About .display .About-img2 {
  width: 100%;
  margin-top: 28px;
  margin-left: 13.25%;
  box-shadow: #F9C83B;
}
body main .About .display .textblock {
  display: block;
  margin-left: 16.85%;
}
body main .About .display .AboutText {
  margin-bottom: 47px;
}
body main .About .display .AboutText-content {
  font-size: 21px;
}
body main .About .pattern {
  position: absolute;
}
body main .About .pattern1 {
  width: 15.1%;
  top: 20px;
  left: 0;
}
body main .About .pattern2 {
  width: 12.0705%;
  right: 0.733%;
  top: 30px;
}
body main .About .pattern3 {
  width: 14.939%;
  left: 0;
  top: 497.22px;
}
body main .About .pattern4 {
  width: 17.45%;
  right: 0;
  top: 362px;
}
body main .About .pattern5 {
  width: 11.369%;
  top: 1101px;
}
body main .About .pattern6 {
  width: 5.8435%;
  right: 6.7065%;
  top: 1085px;
}
body .Sponser {
  text-align: center;
}
body .Sponser .Sponser-title {
  font-weight: 700;
  margin-bottom: 46px;
}
body .Sponser .sponser-img1 {
  width: 70.5%;
  margin-bottom: 83px;
}
body .Sponser .sponser-img2 {
  width: 29%;
  margin-bottom: 11px;
}
body .Sponser .sponserText {
  font-size: 34px;
  margin-bottom: 164px;
}

#service {
  position: relative;
}
#service h2 {
  margin-bottom: 40px;
  font-weight: bold;
}
#service h3 {
  font-size: 18px;
}
#service p {
  font-size: 16px;
}
#service .boxs {
  justify-content: center;
}
#service .boxs .box {
  border: solid 3.42px #9067E9;
  width: 31.959844%;
  margin-right: 1.93107%;
  box-shadow: 12.435px 17.875px #9067E9;
  display: flex;
  flex-direction: column;
}
#service .boxs::after {
  content: "";
}
#service .boxs .imgbox {
  padding-top: 5.587478%;
  padding-left: 10.455764%;
  flex-basis: 0;
  flex-grow: 1;
}
#service .boxs img {
  width: 32.769797%;
}

#voice h2 {
  margin-top: 97px;
  margin-bottom: 71px;
}
#voice .v-container {
  justify-content: space-between;
}
#voice .v-container img {
  width: 43.568182%;
}
#voice .v-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#voice .v-container .text1 {
  font-size: 16px;
  margin-bottom: 25px;
}
#voice .v-container .text2 {
  font-size: 21px;
  margin-bottom: 27px;
}
#voice .v-container .text3 {
  font-size: 18px;
}
#voice .v-container div {
  display: flex;
}

#contact h2 {
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: bold;
}
#contact .c-container h2 {
  font-size: 25px;
}
#contact .c-container p {
  font-size: 18px;
}
#contact .c-container .for {
  flex-basis: 0;
  flex-grow: 1;
}
#contact .c-container .forclient {
  border-right: solid 1px black;
}
#contact .c-container .forclient p {
  font-size: 18px;
  margin-bottom: 44px;
}
#contact .c-container .forclient form .font {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
#contact .c-container .forclient form .font label {
  margin-bottom: 21.97px;
}
#contact .c-container .forclient form .font .area {
  border: solid 1px;
  margin-bottom: 25px;
  margin-right: 8.8%;
}
#contact .c-container .forclient form .font textarea {
  height: 332px;
}
#contact .c-container .forclient form #btn {
  display: flex;
  justify-content: center;
  margin-right: 8.8%;
  background-color: black;
}
#contact .c-container .forclient form #btn .btn {
  font-size: 18px;
  text-align: center;
  color: white;
  margin: 23px 0 30px 0;
}
#contact .c-container .forliver h2 {
  text-align: left;
  margin-left: 6.3%;
}
#contact .c-container .forliver p {
  margin-left: 6.3%;
}
#contact .c-container .forliver .whatsapp {
  margin-left: 6.3%;
  margin-top: 200px;
  align-items: center;
}
#contact .c-container .forliver .whatsapp .mark {
  width: 100%;
}
#company h2 {
  font-weight: bold;
  margin-top: 100px;
}
#company .company {
  margin-top: 40px;
}
#company .company .companyleft {
  flex-basis: 0;
  flex-grow: 1;
}
#company .company .companyleft h3 {
  margin-top: 15px;
}
#company .company .companyleft h4 {
  font-size: 21px;
  margin-top: 20px;
}
#company .company .companyleft p {
  margin-top: 20px;
  font-size: 18px;
}
#company .company .map {
  flex-basis: 0;
  flex-grow: 1;
}

footer {
  margin-top: 239px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 24px 0;
}/*# sourceMappingURL=main.css.map */